@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('./fonts/Inter-Regular.woff2') format('woff2'),
    url('./fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('./fonts/Inter-Medium.woff2') format('woff2'),
    url('./fonts/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('./fonts/Inter-SemiBold.woff2') format('woff2'),
    url('./fonts/Inter-SemiBold.woff') format('woff');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:root {
  font-family: Inter, serif;
}

#app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
  padding: 10px;
}

thead {
  border-bottom: 1px solid black;
  background-color: wheat;
  padding: 10px;
}

tr {
  padding: 10px;
}

th {
  vertical-align: middle;
  font-size: 16px;
  text-align: left;
  width: 180px;
  height: 30px;
  position: relative;
}

.search-container {
  display: flex;
  padding: 20px 15px;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header {
  padding: 10px;
  vertical-align: middle;
}

.row-body:nth-of-type(2n) {
  background-color: #fff4ed;
}

.button {
  background-image: url('./icons/double-arrow.svg');
  background-position: bottom 15px right 15px;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.text {
  font-size: 14px;
  text-align: left;
  padding: 10px;
}

.flag {
  width: 150px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
